doctype html
html(ng-app="app")
  head
    script(src="/vendor/jquery/dist/jquery.js")
    script(src="/vendor/bootstrap/dist/js/bootstrap.js")
    link(rel='stylesheet', href="/vendor/bootstrap/dist/css/bootstrap.css") 
    link(rel='stylesheet', href='/css/app.css')
    script(src="/vendor/angular/angular.js")
    script(src="/vendor/angular-route/angular-route.js")
    script(src="/ng/app.js")
    script(src="/ng/application.ctrl.js")
    script(src="/ng/login.ctrl.js")
    script(src="/ng/posts.ctrl.js")
    script(src="/ng/posts.svc.js")
    script(src="/ng/register.ctrl.js")
    script(src="/ng/routes.js")
    script(src="/ng/user.svc.js")
    base(href="/")

  block content
